---
layout: default
---
<div id="container">
  <div id="grid" data-columns class="cols">
      {% for post in site.posts %}
      <a {% unless post.previewonly %} href="{{post.url | prepend: site.baseurl}}" {% endunless %} >
        <div class="box" style="background-color:#{{post.color}}">
           {% if post.img %}
              <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
           {% endif %}
              <div class="container">
                <h4>{{post.title}}</h4>
                {{post.description | markdownify}}
                <div class="action">{{ post.date | date: '%B %d, %Y' }}
                  {% unless post.previewonly %}
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  {% endunless %}
                </div> 
            </div>   
        </div>
      </a> 
     {% endfor %}

  </div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>